.hero{
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
/* .graphic{
    background-image: url('../../images/desktop/image-graphic-design.jpg');
}

.photo{
    background-image: url('../../images/desktop/image-photography.jpg');
} */