.hero{
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

